.reveal h1, .reveal h2, .reveal h3 {
    font-family: 'Righteous';
    color: #000;
}

.reveal p, ul, li {
    color: #000;
    margin: 0.5em 0;
}

.reveal blockquote {
    margin: 0.5em auto;
    width: 95%;
}

.reveal li {
    margin-top: 0.5em;
}

.reveal ul {
    margin-bottom: 0.5em;
}

.slide-1 .title-line-1 {
    color: #333399;
    text-transform: uppercase;
    font-family: 'Righteous';
    margin: 0;
    line-height: 1;
    font-size: 3em;
}

.slide-1 .title-line-2 {
    color: #883333;
    text-transform: uppercase;
    font-family: 'Righteous';
    margin: 0;
    line-height: 1;
    font-size: 8em;
}

.slide-1 .title-line-3 {
    color: #333399;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    font-family: 'Righteous';
    font-size: 7em;
}

.half-container  {
    width: 50%;
    float: left;
}
